@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .nav-link {
    @apply flex gap-2 items-center pl-3 pr-4 py-2 mb-2 rounded text-lg hover:bg-neutral-200 w-full;
  }

  .border-slate-default {
    @apply border-slate-400;
  }

  .fade-right {
    @apply animate-[fadeRight_.3s_ease-in_forwards];
  }

  .fade-top {
    @apply animate-[fadeTop_3.5s_ease-out_forwards];
  }

  .rotate {
    @apply animate-[rotate_1s_infinite_linear];
  }

  .wave {
    @apply animate-[wave_3s_linear];
  }
}

.active {
  background: #000000;
  color: rgb(253, 253, 253);
  font-weight: 600;
}

.active:hover {
  background: #27272a;
}
